.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* My Styles */

.mug {
  width: 20%;
  display: inline-block;
  margin-right: 20px;
  border: 5px #397fda solid;
  transition: all .4s ease-in-out;
  margin-bottom: 100px;

  &:hover {
    box-shadow: grey 5px 5px 5px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.mugPage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;

  img {
    width: 30%;
    height: auto;
  }
}